<div id="container-login">
  <mat-card id="login-card">
    <form (ngSubmit)="login()" #loginForm="ngForm" class="log-form">
      <h1>Iniciar Sesión</h1>
      <mat-form-field color="accent">
        <mat-label>Correo:</mat-label>
        <input matInput type="email" name="email" required [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña:</mat-label>
        <input matInput type="password" id="password" name="password" required [(ngModel)]="password">
      </mat-form-field>
      <div class="container">
        <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </div>
    </form>
  </mat-card>
</div>