<div class="container-intro">
    <div class="intro">
        <div class="intro-text">
            <h1>Valorant API</h1>
            <p>
                Valorant API is a free service that provides data about the popular game Valorant. This API is not affiliated with Riot Games.
                Use the Valorant API to get information about agents, maps, weapons, and more. You can also get information about the latest news and patch notes.
                Get started by exploring the API documentation or using the API console to make requests.
            </p>
        </div>
        <div class="intro-image">
            <img src="https://raw.githubusercontent.com/ApiValorant/Sprites/main/img/cypher-ab3.png" alt="Valorant API">
    </div>
</div>