<mat-toolbar style="justify-content: space-between;" color="primary">
    <span style="font-size: 20px;">VALORANT</span>
    <div style="display: flex; align-items: center;" class="container-elements-header">
        <span>
            <a routerLink="" mat-button>Home</a>
        </span>
        <span>
            <a routerLink="" mat-button>Trial</a>
        </span>
        <span>
            <a routerLink="" mat-button>Dashboard/docs</a>
        </span>
        <button style="display: flex; align-items: center; justify-content: center;" mat-button>
            <mat-icon>person</mat-icon> 
        </button>
    </div>
</mat-toolbar>