
<div class="container-trial">
  <div class="browser">
    <div class="input" style="display: flex; flex-direction: row; justify-content: center;">
      <mat-form-field appearance="outline">
        <input disabled [value]="this.baseUrl" matInput (keydown.enter)="getUrl($event)">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input value="characters/1" matInput (keydown.enter)="getUrl($event)">
      </mat-form-field>
    </div>
  </div>
  <mat-card class="json-viewer">
    <mat-card-content>
      <ngx-json-viewer [json]="json" [depth]="3"></ngx-json-viewer>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-form-field appearance="outline">
      <input [value]="token" matInput readonly>
    </mat-form-field>
    <button mat-raised-button (click)="generateToken()">Generar Token</button>
  </mat-card>
</div>
